PocketWaiter/PocketWaiter.xcodeproj/project.xcworkspace/xcuserdata/ngucenter.xcuserdatad/UserInterfaceState.xcuserstate
PocketWaiter/PocketWaiter.xcodeproj/xcuserdata/ngucenter.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PocketWaiter/PocketWaiter.xcodeproj/xcuserdata/ngucenter.xcuserdatad/xcschemes/PocketWaiter.xcscheme
PocketWaiter/PocketWaiter.xcodeproj/xcuserdata/ngucenter.xcuserdatad/xcschemes/xcschememanagement.plist
